{{#if showComments}}
  <h1>Comments</h1>
  {{#if store.comments}}
  <div class="well" style="background: white;">
    {{#each store.comments as |comment|}}
      <h2 style="color:green;">{{bike-liker comment.bikelike}}</h2>
      <h2>{{comment.description}}</h2>
      <p>posted: {{nice-date comment.timestamp}} by: {{comment.author}}</p>
      <hr>
    {{/each}}
  </div>
  {{else}}
    <h2>No comments yet.  Be the first to rate this store</h2>
  {{/if}}
  <button class="btn btn-success"{{action 'hideCommentsForm'}}>Hide Comments</button>
{{else}}
  <button class="btn btn-success"{{action 'showCommentsForm'}}>View Comments</button>
{{/if}}
